body {
    background-image: url(../images/space.jpg);
}

.container {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.responsive {
    text-align: center;
    width: 100%;
    max-width: 1100px;
    height:auto; 
}

#underscores {
    text-align:center;
    font-size: 24px;
}

