body {
    background-image: url(../images/space.jpg);
}

.container {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border-style: round;
}

.responsive {
    text-align: center;
    width: 100%;
    max-width: 1100px;
    height:auto; 
}

#underscores {
    text-align:center;
    font-size: 30px;
}

